<!-- Etiquetas Meta -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Lenta rotación de productos de uso masivo">
<meta name="keywords" content="lenta rotación, slow moving, productos de consumo masivo, retail">
<meta name="copyright" content="Lenta Rotación">

<!-- NORMALIZE    --><link rel="stylesheet" href="/formatos/0-compartido/Varios/Normalize.css">
<!-- Font Awesome --><link rel="stylesheet" href="/formatos/fontawesome-free-6.1.1-web/css/fontawesome.css">
<!-- Font Awesome --><link rel="stylesheet" href="/formatos/fontawesome-free-6.1.1-web/css/solid.css">
<!-- Font Awesome --><link rel="stylesheet" href="/formatos/fontawesome-free-6.1.1-web/css/regular.css">

<!-- Título en la pestaña --><title>LR | <%= locals.titulo || locals.tituloPestana %></title>
<!-- Logo en la pestaña --><link rel="icon" href="<%- imgInstitucional %>" sizes="1051x754" type="image/png">
