<!-- Cartel -->
<div id="cartelMailExitoso" class="cartelCentro absoluteCentro flexColAlign ocultar">
	<!-- Encabezado -->
	<img id="check" src="/imgsComp/9-Varios/Check.png" height="60px">
	<!-- Mensajes -->
	<div id="contenedorMensajes">
	</div>
</div>
